# Basic Setup
NODE_ENV=production
PORT=5000

# Database
DATABASE_URL=mongodb+srv://emran:dLiFrOA8VF87Tbkz@cluster0.jlree.mongodb.net/e-commerce?retryWrites=true&w=majority&appName=Cluster0
# # DATABASE_URL= mongodb://127.0.0.1:27017/cyber-craft

# Security & Hashing
BCRYPT_SALT_ROUNDS=12
JWT_SECRET=very-secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_SECRET=very-refresh-secret
JWT_REFRESH_EXPIRES_IN=365d

# Session
SESSION_SECRET=d4f5e6b7c8a9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5

# Client Origin (for CORS & socket)
NEXT_PUBLIC_CLIENT_URL=https://pawajabe.com
CORS_ORIGIN=https://pawajabe.com,https://admin.pawajabe.com


# Third-party APIs
RESEND_API_KEY=re_4CFUr3bQ_PpFwd1yQaAVkz2EkBcQXriKM
EMAIL_PASSWORD="imranSWE#181#"
TELEGRAM_BOT_TOKEN=8066419509:AAFbTt8Gue2mFWSA-NN_6zsd9Nbjnx2BjMc
TELEGRAM_CHAT_ID=5731721364
