# ========================================
#            NODE & SERVER
# ========================================
NODE_ENV=production               
PORT=5001                          

# ========================================
#           DATABASE (MongoDB)
# ========================================
# MongoDB Atlas connection string for production
DATABASE_URL=mongodb+srv://mdimransheikh181:w9qYCEedNtV2DJJJ@cluster0.ygrukeo.mongodb.net/choice-identity?retryWrites=true&w=majority&appName=Cluster0

# ========================================
#           SECURITY & JWT
# ========================================
BCRYPT_SALT_ROUNDS=12             
JWT_SECRET='very-long-random-string-for-jwt'           
JWT_EXPIRES_IN=1m                  
JWT_REFRESH_SECRET='very-long-refresh-token-secret'    
JWT_REFRESH_EXPIRES_IN=365d        
SESSION_SECRET=d4f5e6b7c8a9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4e5     

# ========================================
#           FRONTEND & CORS
# ========================================
NEXT_PUBLIC_CLIENT_URL=https://choiceidentity.com   
CORS_ORIGIN=https://choiceidentity.com             
FRONTEND_ADMIN_URL=http://admin.choiceidentity:com

# ========================================
#           EMAIL & NOTIFICATIONS
# ========================================

SMTP_HOST=mail.privateemail.com
SMTP_PORT=587
SMTP_USER=support@choiceidentity.com
SMTP_PASS=imransmd4
FROM_EMAIL=ChoiceIdentity <noreply@choiceidentity.com>

SUPPORT_EMAIL=support@choiceidentity.com




# ========================================
#           ADMIN INFO
# ========================================
ADMIN_EMAIL=imran@choiceidentity.com


# ========================================
#           STRIPE CONFIGURATION
# ========================================


# ========================================
#           STRIPE PRICING
# ========================================
# Monthly & Yearly Price IDs for Stripe Plans
STRIPE_BASIC_MONTHLY_PRICE_ID=price_1RqLMN2NDTqGR9XIoHIBMmcg
STRIPE_BASIC_YEARLY_PRICE_ID=price_1RqLOj2NDTqGR9XIzhBe6CBW
STRIPE_ADVANCED_MONTHLY_PRICE_ID=price_1RqLPt2NDTqGR9XIDvT8Wh4d
STRIPE_ADVANCED_YEARLY_PRICE_ID=price_1RqLQt2NDTqGR9XIctxk9wap
STRIPE_ULTIMATE_MONTHLY_PRICE_ID=price_1RqLRu2NDTqGR9XIQnlQCEQZ
STRIPE_ULTIMATE_YEARLY_PRICE_ID=price_1RqLSn2NDTqGR9XIRw5PAgdM
STRIPE_ELITE_MONTHLY_PRICE_ID=price_1RqLU92NDTqGR9XIlxS93ZaA
STRIPE_ELITE_YEARLY_PRICE_ID=price_1RqLUv2NDTqGR9XI7yBC2efv

# ========================================
#           OPTIONAL (DEBUG / DEV)
# ========================================
# Only enable debug logging in development
# DEBUG=yourapp:*  # Uncomment in dev if needed
